<% if product.master.msrp.present? && discount_percentage(product) != '0' %>
  <span class="sale-price">
    <span class="price selling" itemprop="price">
      <strong><%= product.display_price %></strong>
    </span>
  </span>
  <span class="line-through"><strong><%= number_to_currency(product.master.msrp) %></strong></span></span>
<% else %>
  <span class="list-price">
    <strong><%= product.display_price %></strong>
  </span>
<% end %>
